<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style2.css"> 
</head>
<body>
    <header>
        <h1>Welcome</h1>
    </header>
    <main>
        <div class="content">
            <h2>The total number of users is: <%= count %></h2>
            <a class="button" href="http://localhost:3000/user">Show Users</a>
            <a class="button" href="http://localhost:3000/user/add">Add User</a>
        </div>
    </main>
</body>
</html>
